<nb-card>
  <nb-card-header>
    Coronavirus COVID-19 Data Analysis
  </nb-card-header>
  <nb-card-body>
    <form method="post" [formGroup]="formSearchCountry" (ngSubmit)=submit(formSearchCountry.value)>
      <div class="row">
        <div class="col-lg-6">
          <label class="label p-2">Select Country</label>
          <input formControlName="country" nbInput status="primary" type="text" placeholder="Select country"
            [nbAutocomplete]="autoControl" />
          <nb-autocomplete #autoControl>

            <nb-option *ngFor="let option of filteredControlOptions$ | async" [value]="option">
              {{ option }}
            </nb-option>
          </nb-autocomplete>
        </div>
        <div class="col-lg-6">
          <label class="label p-2">Select Date</label>
          <input nbInput [nbDatepicker]="formcontrol1" formControlName="date" readonly>
          <nb-datepicker format="dd.MM.yyyy" #formcontrol1></nb-datepicker>
        </div>
      </div>
      <div class="button-search">
        <button nbButton status="primary">Submit</button>
      </div>
    </form>

    <div class="col-lg-12">
      <ngx-d3-advanced-pie [result]="result"></ngx-d3-advanced-pie>
    </div>
  </nb-card-body>
</nb-card>